%form{ :action => "/", :method => :post }
  %input{ :type => :hidden, :name => 'company', :value => @company }
  Does 
  %input{ :type => :text, :name => 'name' }
  work for
  = succeed '?' do
    = @company
